<section class="roses">
  <div class="roses-types">
    {{#each {{../name}}}}
      <li class="category">
          <a href="/{{../name}}/{{name}}"><img loading="lazy" src="pic/{{name}}.jpg" alt="{{name}}" sizes="(max-width: 300px) 85vw, 300px" width="300" height="300">
              <h2 class="category-title">
                  {{name}}</h2>
          </a>
      </li>
      {{/each}}
  </div>
</section>